/* Write your custom CSS here */
.input-span{
	display: inline-block;
    padding-top: 7px;
}
.form-group{
	margin-bottom: 5px!important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #242a30;
}

.h4, h4 {
    font-size: 18px;
}
.mrgb15{
    margin-top:0!important;
    margin-bottom: 15px;
}
.panel .panel-body .btn{
    height: 34px;
    margin-top: -4px;
}
.btn.btn-white {
    font-weight: 400;
    color: #333;
    background: #fff;
    border-color: #e2e7eb
}

.btn.btn-white.btn-white-without-border {
    border-color: #fff
}

.btn.btn-white.btn-white-without-border.active,.btn.btn-white.btn-white-without-border.active:focus,.btn.btn-white.btn-white-without-border.active:hover {
    border-color: #ddd
}

.btn.btn-white.btn-white-without-border:focus,.btn.btn-white.btn-white-without-border:hover {
    border-color: #eee
}

/************ 模态框 *************/
.modal-content {
    border: none;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.3);
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.modal-header {
    padding: 12px 15px!important;
    border-bottom: 1px solid #e2e7eb!important;
}

.modal-header .close {
    margin-top: 2px;
}

.modal-body {
    padding: 15px!important;
}

.modal-footer {
    border-top: 1px solid #e2e7eb!important;
    padding: 14px 15px 15px!important;
}

.modal-message .modal-dialog {
    width: 100%;
}

.modal-message .modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.modal-message .modal-body,.modal-message .modal-footer,.modal-message .modal-header {
    width: 60%;
    border: none;
    margin: 0 auto;
}

/************ 分页 *************/
.dataTables_paginate a,.dataTables_paginate span {
    color: #242a30;
    margin-left: 5px;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important;
    border: 1px solid #e2e7eb;
    padding: 6px 12px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}
.dataTables_paginate a:hover,
.dataTables_paginate a:focus {
    background: #e0e0e0;
    border-color: #d8dde1;
}
.dataTables_paginate:before,
.dataTables_paginate:after {
    content: '';
    display: table;
    clear: both;
}
.dataTables_paginate a,
.dataTables_paginate > span {
    float: left;
}
.dataTables_paginate a.disabled,
.dataTables_paginate a.disabled:hover,
.dataTables_paginate a.disabled:focus,
.dataTables_paginate span.disabled,
.dataTables_paginate span.disabled:hover,
.dataTables_paginate span.disabled:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
    opacity: 0.6;
}
.dataTables_paginate a.current,
.dataTables_paginate a.current:hover,
.dataTables_paginate a.current:focus,
.dataTables_paginate span.current,
.dataTables_paginate sapn.current:hover,
.dataTables_paginate span.current:focus{
    background: #242a30!important;
    border-color: #242a30!important;
    color: #fff;
}

.form-required, .upload-fail {color: red;}
.upload-success {color: green;}
.upload-btn-wrapper {
    width: 100px;
    height: 32px;
}
.upload-btn {
    opacity: 0;
    width: 100px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
}
.fd-video-item {
    position:relative;
    cursor:pointer;
    width: 24%;
    height: 200px;
    float: left;
    margin: 2px 20px 50px 20px;
    font-size: 16px;
}
.fd-video-item video {
    object-fit: fill;
    width: 100%;
    height: 200px;
} 
.video-mask {
    position: absolute;
    width: 100%;
    height: 0;
    background: #000;
    opacity: 0.5;
    text-align: center;
    line-height: 200px;
    bottom: 0;
}
.video-delete {
    font-size: 30px;
    cursor: pointer;
    padding: 6px;
    border: 2px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.upload-item-name {
    overflow: hidden; 
    text-overflow: ellipsis;/
    white-space: nowrap;
    width: 70%;
}
.dataNull {text-align: center;}


.rsv-date {
    overflow: hidden;
    margin: 20px 0;
    font-size: 18px;
    color: #a3a3a3;
}

.rsv-date span {
    position: relative;
    top: 8px;
    float: left;
    text-indent: 5px;
}

.rsv-date select {
    position: relative;
    display: block;
    float: left;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: 1px dotted #e5e5e5;
    background: #fff;
    margin: 0 7px;
    font-size: 18px;
    color: #a3a3a3;
}

.rsv-date select:after {
    content: "";
    position: absolute;
    right: 5px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #e5e5e5;
}

.rsv-li-item {
    float: left;
    text-align: center;
    width: 50%;
    height: 44px;
    line-height: 44px;
    background: #eee;
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 18px;
}

.rsv-li-item.current{
    background: #1162a2;
    color: #fff;
}

.rsv-timeframe {
    display: flex;
}

.rsv-ul-list {
    display: block;
    width: 90%;
}
.form-horizontal .preview-img{
    width: 100%
}
.preview-img{
    width: 120px;
}
.change-btn{
    position: absolute;
    bottom: 0
}
.profile-wrapper .form-group {
    display: flex;
    height: 60px;
}
.pointerNone {
    pointer-events: none;
}
a.disabled {
    cursor: not-allowed;
    opacity: .65;
}
.table td{
    word-break: break-all;
    word-wrap:break-word;
}
.limit-width-td{
    max-width:350px!important;
}
