/*2017/07/27*/
@charset 'utf-8'; * {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none
}

li,ol,ul {
    list-style: none
}

img {
    width: 100%;
    border: 0
}

img:not([src]),img[src=""] {
    opacity: 0
}

body,html {
    position: relative;
    height: 100%
}

body {
    max-width: 1024px;
    margin: 0 auto;
    font-size: 14px;
    color: #000;
    padding: 0;
    position: relative
}

input::-webkit-input-placeholder {
    color: #ccc
}

::-webkit-scrollbar {
    display: none
}

a,div,img {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.background,.background2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/bg1.png) no-repeat 0 0;
    background-size: cover;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.background2 {
    background: url(../images/bg.jpg) no-repeat 0 0;
    background-size: cover;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/shadow.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.mb-body {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 315px;
    height: 510px;
    margin: auto;
    background: url(../images/pop.png) no-repeat center;
    background-size: contain;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.th-title {
    margin: 25px auto;
    background: url(../images/th.png) no-repeat 0 0;
    background-size: contain;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    width: 200px;
    height: 65px;
    text-align: center;
    color: #0a223f;
    font-size: 22px;
    font-family: HiraginoSansGB-W6;
    line-height: 75px;
    text-indent: 65px;
}

.tb-title {
    margin: 25px auto;
    background: url(../images/tb.png) no-repeat 0 0;
    background-size: contain;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    width: 200px;
    height: 65px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-family: HiraginoSansGB-W6;
    line-height: 75px;
    text-indent: 65px;
}

.box {
    margin: 0 44px;
}

.om-text {
    max-height: 65%;
    overflow-y: scroll;
}

.om-text p {
    margin: 15px 0 0;
    font-size: 15px;
    line-height: 1.5;
    font-family: HiraginoSansGB-W3;
}

.om-textarea {
    width: 100%;
    height: 300px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.om-textarea textarea {
    width: 90%;
    height: 220px;
    padding: 20px 5%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.om-textarea textarea::-webkit-input-placeholder {
    color: #999;
    text-align: center;
}

.submit-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    font-family: HiraginoSansGB-W6;
    color: #fff;
    background: #0068b7;
    letter-spacing: 4px;
    text-align: center;
}

.jump-btn {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    font-family: HiraginoSansGB-W6;
    color: #fff;
    background: #0068b7;
    letter-spacing: 4px;
    text-align: center;
    border-radius: 52px;
}

.popup {
    position: fixed;
    z-index: 201;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none
}

.pop-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 202;
    background: rgba(0,0,0,.5);
    overflow: auto
}

.pop-main {
    position: fixed;
    z-index: 203;
    margin: auto;
    width: 280px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
}

.pop-main input {
    background: #eeeeee;
    width: 65%;
    margin: 0 0 20px 0;
    height: 38px;
    line-height: 38px;
}

.pop-main p {
    padding: 20px 38px;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    text-align: left;
}

.pop-main p.cen {
    text-align: center;
}

.pop-main i {
    text-decoration: underline;
}

.pop-main button:nth-child(2) {
    margin-top: 15px;
}

.confirm-btn {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-family: HiraginoSansGB-W6;
    color: #fff;
    background: #0068b7;
    letter-spacing: 4px;
    text-align: center;
    border-radius: 20px;
    width: 140px;
}

.tn-text {
    max-height: 75%;
    overflow-y: scroll;
}

.tn-text p {
    font-size: 15px;
    line-height: 2;
    font-family: HiraginoSansGB-W3;
}

.mb-text {
    color: #132648;
    font-size: 15px;
    font-family: HiraginoSansGB-W6;
    line-height: 1.8;
    padding-top: 20px;
}

.mb-tips {
    margin: 30px 0 20px 0;
    color: #132648;
    font-size: 12px;
    font-family: HiraginoSansGB-W3;
    line-height: 1.2;
}

.mb-agree {
    text-align: center;
    margin-bottom: 20px;
    color: #132648;
    font-size: 13px;
    font-family: HiraginoSansGB-W6;
    line-height: 1.8;
}

.mb-agree input {
    vertical-align: middle;
}

.mb-btn {
    position: absolute;
    left: 0;
    right: 0;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-family: HiraginoSansGB-W6;
    color: #fff;
    background: #0068b7;
    letter-spacing: 4px;
    text-align: center;
    border-radius: 40px;
    width: 140px;
    margin: auto;
}

.fd-time {
    margin: 32px 0 22px;
    color: #253c56;
    font-size: 15px;
    text-align: center;
}

.fd-time span {
    color: #d83a3a;
    font-size: 24px;
    text-decoration: underline;
}

.fd-list {
    overflow: hidden;
    text-align: center;
}

.fd-item {
    width: 45%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 22px;
    color: #6c6c6c;
    background: #b5b5b5;
    display: inline-block;
    border-radius: 44px;
}

.fd-item:nth-child(odd) {
    margin-right: 15px;
}

.fd-item.current {
    color: #fff;
    background: #0068b7;
}

.fd-con {
    margin-bottom: 100px;
}

.fd-list-con {
}

.fd-dq {
    overflow: hidden;
    color: #253c56;
    margin-top: 20px;
}

.fd-dq-desc {
    margin-top: 20px;
}

.fd-dq video {
    width: 100%;
    margin-top: 10px;
}

.fd-dq p {
    font-size: 12px;
    line-height: 1.5;
}

.fd-dq .fl {
    float: left;
}

.fd-dq .fr {
    float: right;
}

.fd-payment {
    overflow: hidden;
    margin-top: 15px;
    padding-top: 15px;
    position: relative;
}

.fd-payment:before {
    position: absolute;
    top: 0;
    content: "";
    height: 1px;
    width: 100%;
    background: #a0a0a0;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}

.fd-payment span {
    font-size: 36px;
    font-family: HiraginoSansGB-W3;
    line-height: 1
}

.fd-payment div {
    position: relative;
    margin-left: 5px;
}

.fd-payment p:nth-child(odd) {
    font-size: 15px;
    line-height: 1.5
}

.fd-payment p:nth-child(even) {
    font-size: 12px;
    line-height: 1
}

.fd-payment button {
    width: 141px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: #0068b7;
    display: inline-block;
    border-radius: 44px;
}

.fd-yg {
    overflow: hidden;
    margin-top: 20px;
}

.fd-yg video {
    width: 100%;
    margin-top: 10px;
    /*width: 48%;
    float: left;*/
}

.fd-yg video:nth-child(odd) {
    padding-right: 10px;
}

/*.fd-yg img {
    float: left;
    width: 46%;
    margin: 4% 0 0 0;
}

.fd-yg img:nth-child(odd) {
    margin: 4% 8% 0 0;
}*/

.rs-con {
    margin: 0 44px;
}

.rs-ticket {
    width: 140px;
    height: 35px;
    margin: 22px 0 26px 0;
    line-height: 35px;
    font-size: 15px;
    display: block;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    background: #0068b7;
    box-shadow: 0px 3px 2px #144266;
    font-family: HiraginoSansGB-W6;
}

.rs-ticketnotes {
    font-size: 13px;
    color: #2c3d58;
    font-family: HiraginoSansGB-W3;
    text-align: center;
}

.rs-ticketnotes a {
    display: inline-block;
    width: 80px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 15px;
    color: #2c3d58;
    font-family: HiraginoSansGB-W3;
    border: 1px solid #0068b7;
}

.rs-dl-list {
}

.rs-dd-item {
    text-align: center;
}

.rs-dd-item a {
    width: 95px;
    height: 30px;
    margin: 10px 30px 15px 0;
    line-height: 30px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    background: #d83a3a;
    box-shadow: 0px 3px 2px #ac2e2e;
    font-family: HiraginoSansGB-W6;
}

.rs-dd-item span {
    font-size: 15px;
    color: #2c3d58;
    font-family: HiraginoSansGB-W3;
}

.rs-dd-item span i {
    margin-right: 2px;
    font-size: 18px;
}

.rs-hr {
    width: 120%;
    height: 9px;
    background: url(../images/hr.png) no-repeat center;
    background-size: contain;
    margin: 0 -7%;
}

.rs-ul-list {
    width: 106%;
    margin: 0 0 0 -3%;
}

.rs-li-item {
    width: 320px;
    height: 66px;
    margin: 15px auto 0;
    background: url(../images/item.png) no-repeat center;
    background-size: contain;
    overflow: hidden;
}

.rs-left {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.rs-left span {
    display: block;
    position: absolute;
    top: 4px;
    left: 12px;
    color: #0068b7;
    font-weight: 700;
    font-size: 14px;
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
    text-shadow: #fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
    -webkit-text-shadow: #fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
}

.rs-right {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.rs-right button {
    position: relative;
    top: 22px;
    width: 68px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 10px;
}

.rs-right .use-btn {
    border: 1px solid #d63e3e;
    background: #fff;
    color: #d63e3e;
}

.rs-right .give-btn {
    border: 1px solid #d63e3e;
    background: #d63e3e;
    color: #fff;
}

.rs-right button.gray {
    border: 1px solid #707070;
    background: #707070;
    color: #bababa;
}

.rsv-con {
    position: relative;
}

.rsv-date {
    overflow: hidden;
    margin: 50px 0 45px;
    font-size: 18px;
    color: #2c3d58;
}

.rsv-date span {
    position: relative;
    top: 8px;
    float: left;
    text-indent: 5px;
}

.rsv-date select {
    position: relative;
    display: block;
    float: left;
    width: 26%;
    height: 35px;
    line-height: 35px;
    border: 1px dotted #0d6fba;
    background: #d3d7e1;
    margin: 0 2px;
    text-indent: 10px;
}

.rsv-date select:after {
    content: "";
    position: absolute;
    right: 5px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #2c3d58;
}

.rsv-timeframe {
    display: flex;
}

.rsv-ul-list {
}

.rsv-li-item {
    float: left;
    text-align: center;
    width: 50%;
    height: 44px;
    line-height: 44px;
    background: rgba(36,71,96,.4);
    margin-bottom: 5px;
    overflow: hidden;

    font-size: 15px;
    color: #2c3d58;
    font-family: HiraginoSansGB-W3;
}

.rsv-li-item:nth-child(odd) span{
    margin-left: 20%;
}

.rsv-li-item:nth-child(even) span{
    margin-left: -20%;
}

.rsv-li-item.current:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 31%;
    background: #0a223f;
    border-radius: 3px;
    margin-top: 41px;
}

.rsv-li-item:nth-child(odd).current:after {
    left: 14%
}

.rsv-li-item:nth-child(even).current:after {
    right: 14%;
}

.rsv-tip {
    margin-top: 45px;
    font-size: 13px;
    color: #2c3d58;
    display: block;
    text-align: center;
}

.rsv-tip span {
    font-size: 18px;
    color: #d83a3a;
    font-weight: bold;
}

.rsv-disclaimer {
    margin: 10px 0;
    font-size: 13px;
    color: #0068b7;
    text-decoration: underline;
    text-align: center;
    display: block;
}

.rsv-agree {
    text-align: center;
    margin-bottom: 20px;
    color: #132648;
    font-size: 13px;
    font-family: HiraginoSansGB-W6;
    line-height: 1.8;
}

.rsv-agree input {
    vertical-align: middle;
}

.rsv-btn {
    position: absolute;
    left: 0;
    right: 0;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-family: HiraginoSansGB-W6;
    color: #fff;
    background: #0068b7;
    letter-spacing: 4px;
    text-align: center;
    border-radius: 40px;
    width: 100%;
    margin: auto;
}

.bt-usedetail {
    font-size: 15px;
    color: #2c3d58;
}

.bt-usedetail div {
    margin: 10px 0;
    display: block;
}

.bt-usedetail .left {
    width: 75px;
    display: inline-block;
    text-align: justify;
}

.bt-usedetail .disable {
    color: #c0c0c0;
}

.bt-usedetail input {
    width: 40px;
    height: 20px;
    background: transparent;
    border: 1px solid #c0c6c9;
    text-align: center;
    line-height: 30px;
}

.bt-payment {
    overflow: hidden;
    position: absolute;
    bottom: 75px;
}

.bt-payment .fl {
    float: left;
}

.pi-input {
    margin-top: 120px;
}

.pi-item {
    overflow: hidden;
    font-size: 17px;
    color: #0d223f;
    margin-bottom: 15px;
}

.pi-left {
    float: left;
    width: 35px;
    margin-right: 10px;
    display: block;
    height: 50px;
    line-height: 50px;
}

.pi-right {
    float: left;
    width: 80%;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background: rgba(250,250,250,.4);
    text-align: center;
}

.pi-right input {
    background: transparent;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}

.pi-right div {
    display: inline-block;
    margin: auto;
    text-align: left;
    margin-left: -60px;
}

.pi-right label:first-of-type {
    margin-right: 32px
}

.pi-right input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.pi-right input::-webkit-input-placeholder {
    color: #9a9a9a
}

.pi-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;
    text-align: center;
}

.pi-btn button {
    width: 35%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 44px;
    color: #fff;
    font-size: 17px;
    background: #0068b7;
}

.pi-btn .edit {
    margin-right: 12px;
}

.bt-payment span {
    font-size: 36px;
    font-family: HiraginoSansGB-W3;
    line-height: 1
}

.bt-payment div {
    position: relative;
    margin-left: 5px;
}

.bt-payment p:nth-child(odd) {
    font-size: 15px;
    line-height: 1
}

.ft-payment p:nth-child(even) {
    font-size: 12px;
    line-height: 1
}

.bt-payment button {
    float: right;
    width: 130px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    background: #0068b7;
    display: inline-block;
    border-radius: 44px;
}

.bt-freight {
    overflow: hidden;
    height: 58px;
    line-height: 58px;
    width: 100%;
    background: #d3d7e1;
    padding: 0 44px;
    margin: 40px 0 100px -44px;
}

.bt-freight .fr {
    float: right;
}

.bt-freight .fl {
    float: left;
}

.bt-freight .fl i {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/doubt.png) no-repeat center;
    background-size: contain;
    vertical-align: -2px;
}

.checkbox-switch {
    width: 40px;
    height: 20px;
    appearance: none;
    position: relative;
    top: 18px;
    outline: 0;
    border-radius: 5rem;
    box-sizing: border-box;
    background: #DFDFDF;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 18px;
    float: right;
}

.checkbox-switch:before {
    content: "";
    text-align: right;
    line-height: 2.8rem;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: #ccc;
    -webkit-transition: transform .3s;
    transition: transform .3s;
}

.checkbox-switch:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 5rem;
    background-color: #FFFFFF;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,0.4);
    -webkit-transition: transform .3s;
    transition: transform .3s;
}

.checkbox-switch:checked {
    border-color: #000;
    background-color: #000;
}

.checkbox-switch:checked:before {
    content: "";
    text-align: left;
    color: #fff;
    background: #0068b7;
}

.checkbox-switch:checked:after {
    transform: translateX(20px);
}

.img-box {
    text-align: center;
}

.img-box .log {
    width: 40%;
    margin-top: -5px;
}

.img-box .life {
    width: 100%;
    margin: 10px 0 50px;
}

.rp-form {
}

.rp-form p {
    overflow: hidden;
    margin-bottom: 12px;
}

.rp-form p input {
    font-size: 14px;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 44px;
    background: rgba(250,250,250,.4);
}

.rp-form p input::-webkit-input-placeholder {
    color: #0d223f
}

.rp-form p input.phone {
    width: 60%;
    float: left;
}

.rp-form p button {
    font-size: 12px;
    float: right;
    width: 35%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 44px;
    background: rgba(250,250,250,.4);
}

.rp-sm-btn {
    width: 100%;
    height: 52px;
    margin-top: 32px;
    line-height: 52px;
    font-size: 16px;
    font-family: HiraginoSansGB-W6;
    color: #fff;
    background: #0068b7;
    letter-spacing: 4px;
    text-align: center;
    border-radius: 50px;
}

.rp-tip {
    margin-top: 10px;
    font-size: 11px;
    color: #fff;
}

.menberPages {
    background: #fff
}

.menber-header {
    height: 42px;
    line-height: 42px;
    background: #0068b7;
    color: #fff;
    font-size: 15px;
    font-family: HiraginoSansGB-W6;
    text-align: center;
}

.msp-list {
    overflow: hidden;
}

.msp-item {
    position: relative;
    margin-top: 25px;
    line-height: 1;
    font-size: 0;
}

.msp-list img {
    width: 100%;
}

.msp-list span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 88%;
    padding: 0 6%;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 15px;
    background: rgba(0,0,0,.61);
}

.move-down {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 27px;
    height: 13px;
    margin: auto;
    background: url(../images/down.png) no-repeat center;
    background-size: contain;
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(0deg) translate(0,-10px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(0deg) translate(0,10px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(0deg) translate(0,-10px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(0deg) translate(0,10px);
        opacity: 0;
    }
}

.ar-content {
    max-height: calc(100% - 100px);
    max-height: -webkit-calc(100% - 100px);
    overflow-y: scroll;
}

.ar-content h2 {
    margin: 18px 0 12px 0;
    height: 36px;
    line-height: 36px;
    width: 100%;
    border: 1px dotted #0169b8;
    border-left: 0;
    border-right: 0;
    text-indent: 30px;
    font-size: 18px;
    color: #132b47;
}

.ar-content div {
    padding: 20px 30px;
    background: #fff;
    color: #777;
    font-size: 18px;
    line-height: 36px;
}

.ar-content div .tips {
    font-size: 15px;
}

@media screen and (max-width: 320px) {
    .ar-content div .tips {
        font-size:13px;
    }

    .rs-con {
        margin: 0;
        width: 320px;
    }

    .rsv-tip{
    	margin-top: 30px;
    }
}

.mc-header {
    height: 201px;
    width: 100%;
    background: rgba(0,0,0,.2);
}

.mc-content {
    position: relative;
    width: 100%;
    height: 65%;
    height: calc(100% - 201px);
    height: -webkit-calc(100% - 201px);
    background: #e9eaf4;
}

.mc-header-top {
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 35px 0 18px 0;
}

.mc-header-top .fl {
    float: left;
}

.mc-header-top img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 3px solid #0068b7;
}

.mc-header-top div {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 10px;
}

.mc-header-bottom {
    overflow: hidden;
    justify-content: center;
    -webkit-justify-content: center;
    display: flex;
    display: -webkit-flex;
}

.mc-header-bottom a {
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background: rgba(0,0,0,.4);
    display: block;
    float: left;
}

.mc-header-bottom a:first-of-type {
    margin-right: 25px;
}

.mc-list {
}

.mc-item {
    height: 64px;
    line-height: 64px;
    border-bottom: 1px dotted #adaeb4;
    box-shadow: 0 2px 5px #c9cad3;
    -webkit-box-shadow: 0 2px 5px #c9cad3;
}

.mc-item a {
    color: #132648;
    font-size: 15px;
    text-align: center;
    display: block;
    font-family: HiraginoSansGB-W6;
}

.mc-item a img {
    width: 26px;
    vertical-align: middle;
    margin-right: 50px;
    display: inline-block;
}

.mc-btn {
    position: absolute;
    left: 10%;
    right: 10%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-family: HiraginoSansGB-W6;
    color: #fff;
    background: #0068b7;
    letter-spacing: 4px;
    text-align: center;
    border-radius: 40px;
    width: 80%;
    margin: auto;
    bottom: 50px;
}

.table-content {
    color: #666;
    background-color: #fff;
    background-color: #fff;
    position: relative;
    top: 28px
}

.table-nav>nav>a {
    background: inherit;
    border: none;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    float: inherit;
    width: inherit;
    display: block;
    line-height: 44px;
    height: 44px;
    text-decoration: none;
    color: #132b47;
    font-size: 18px
}

.table-nav > .tab-plugin {
    display: -webkit-box;
    border-bottom: 1px solid #eee;
    text-align: center;
    background: #fff;
}

.table-nav>nav>a.tab-active {
    border-bottom: 2px solid #0068b7;
    margin-top: 0;
    color: #0068b7;
    position: relative
}

.table-nav>nav>a.tab-active:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #0068b7;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
}

.table-main>dd {
    font-size: 15px;
    color: #999;
    width: 100%;
    text-align: center;
}

.table-main {
    height: 70%;
    height: calc(100% - 92px);
    height: -webkit-calc(100% - 92px);
    overflow-y: scroll;
}

.voucher-list {
    max-height: 65%;
    overflow-y: scroll;
}

.voucher-item {
    margin: 15px 0;
    padding: 0 0 10px;
    background: rgba(250,250,250,1);
}

.voucher-item p {
    font-size: 14px;
    color: #777;
    padding-left: 5%;
    text-align: left;
}
.voucher-item .num{
	font-size: 14px;
    line-height: 32px;
    padding-top: 5px;
    height: 32px;
    text-align: left;
    padding-left: 4%;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #0068b7;
}

.oper {
    margin: 15px 5% 0 0;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
}

.oper button,.oper a {
    position: relative;
    float: right;
    box-sizing: border-box;
    min-width: 64px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
    border: 0;
    padding: 1px 5px;
    color: #0068b7;
    background-color: #fff;
}

.oper button:after,.oper a:after {
    content: "";
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: block;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border: 1px solid #0068b7;
    border-radius: 24px;
    box-sizing: border-box;
}

.cont {
    overflow: hidden;
}

.lcon {
    width: 70%;
    display: block;
    float: left;
}

.rcon {
    width: 25%;
    display: block;
    float: right;
    text-align: right;
    padding-right: 5%;
}

.rcon span {
    display: block;
}

.rcon .pir {
    color: #0068b7;
    font-size: 14px;
}

.rcon .status {
    color: #666;
    font-size: 12px;
}

.gray .rcon .status,.gray .rcon .pir,.voucher-item.gray p,.voucher-item.gray .num {
    color: #ccc;
}
.no-title{
    padding: 20px 0;
    margin: 50px 0;
}
.result-img{
    text-align: center;
    margin: 50px auto;
}
.result-img img{
    width: 22px;
    vertical-align: sub;
    margin-right: 10px;
}
.large-btn{
    width: 80%;
    display: block;
    margin: 10px auto 0;
    border-radius: 5px;
    padding: 5px 0;
    color: #fff;
    background: #0068b7;
}
.back-btn{
    display: block;
    width: 80%;
    margin: 50px auto 0;
    line-height: 44px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    background: #0068b7;
    border-radius: 44px;
}
.dataNull {
    text-align: center!important;
    font-size: 18px!important;
}