/**
* @author lq.me
* @version 1.0
*/
@charset "utf-8"; 
.box{
	position: relative;
	width: 1200px;
	margin: auto;
}
.yh-header{
	height: 130px;
	overflow:hidden;
	background: #fff;
}
.yh-header .logo{
	position: relative;
	top: -62px;
	float: left;
	width: 251px;
	height: 153px;
	display: block;
	background: url(../images/logo.png) no-repeat;
}
.yh-header p{
	width: 100%;
	height: 50px;
	background: #303030;
}
.yh-nav{
	float: left;
	overflow: hidden;
	height: 80px;
	line-height: 80px;
}
.yh-nav-li{
	float: left;
	width: 140px;
	text-align: center;
}
.yh-nav-li a{
	color: #949494;
	font-size: 18px;
}
.sign-in{
	float: left;
    height: 60px;
    line-height: 40px;
	font-size: 18px;
	color: #949494;
	padding-top: 20px;
}
.sign-in button{
	width: 60px;
	height: 30px;
	border: 1px solid #949494;
	border-radius: 30px;
	background: transparent;
}
.sign-in a{
    text-decoration: underline;
    color: blue
}
.yh-content{

}
.yh-content .title{
	text-align: center;
	color: #1162a2;
	font-size: 18px;
	padding: 20px 0;
}
.yh-banner{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
    
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    width: 100%;
}
.yh-conwrap{
	width: 950px;
	margin: auto;
    position: relative;
    top: -35px;
    z-index: 2;
}
.yh-c-t{
	position: relative;
	overflow: hidden;
}
.yh-c-t img{
	width: 437px;
	height: 333px;
}
.yh-c-t span{
	position: absolute;
	background: rgba(0,0,0,.4);
	color: #fff;
	font-size: 20px;
	opacity: 0.8;
	width: 100%;
	text-indent: 30px;
	font-weight: 700px;
}
.yh-t-i-l span{
	height: 50px;
	line-height: 50px;
	bottom: 17px;
}
.yh-t-i-r span{
	height: 70px;
	line-height: 70px;
	bottom: 0px;
}
.yh-t-i-l{
	position: relative;
	float: left;
	line-height: 0
}
.yh-t-i-r{
	position: relative;
	float: right;
	line-height: 0
}
.yh-c-b{
	margin-bottom: 70px;
}
.yh-b-c{
	position: relative;
	width: 950px;
	height: 266px;
	background: url(../images/img4.jpg) no-repeat;
}
.yh-b-t{
    padding:60px 0 0 260px;
    width: 655px;
    font-size: 20px;
    color: #454545;
}
.yh-b-c span{
    width: 239px;
    height: 32px;
    position: absolute;
    bottom: 8px;
    left: 3px;
    background: rgba(0,0,0,.4);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    line-height: 18px;
    font-size: 16px;
}
.yh-c-b p{
	margin: 70px auto 25px;
	line-height: 1;
	font-size: 27px;
	color: #303030;
	text-align: center;
}
.yh-c-b p span{
	font-size: 35px;
	color: #1162a2;
	border-bottom: 1px solid #303030;
}
.fixedtool{
    position: absolute;
    top: 720px;
    display: block;
    transition: none;
    margin-right: -550px;
    right: 50%;
    width: 50px;
    text-align: center;
    background-color: #FFF;
}
.fixedtool a{
	display: block;
	width: 70px;
	height: 70px;
	margin-bottom: 1px;
	text-align: center;
}
.fixedtool .icon1{
	background: url(../images/icon1.png) no-repeat;
}
.fixedtool .icon2{
	background: url(../images/icon2.png) no-repeat;
}
.fixedtool .icon3{
	background: url(../images/icon3.png) no-repeat;
}
.fixedtool .icon4{
	background: url(../images/icon4.png) no-repeat;
}
.yh-wid744{
	position: relative;
	width: 744px;
	margin: 35px auto;
}
.yh-title{
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-indent: 40px;
    font-size: 14px;
    color: #fff;
    background: url(../images/title.jpg) no-repeat center;
}
.yh-mp-list{

}
.yh-mp-item{
	position: relative;
    margin-bottom: 20px;
    line-height: 0;
    font-size: 0;
}
.yh-mp-item img{
	width: 100%;
}
.yh-mp-item span{
	position: absolute;
    left: 0;
    width: 100%;
    height: 68px;
    line-height: 68px;
    font-size: 18px;
    color: #fff;
    text-indent: 50px;
    bottom: 0px;
    background: rgba(0,0,0,.4);
}
.yh-cp-con{
	position: relative;
	background: #fff;
	text-align: center;
}
.yh-problem{
    position: relative;
    width: 605px;
    height: 230px;
    overflow-y: scroll;
    margin: 0px auto;
    border: 1px solid #eee;
    top: 20px;
    padding: 35px 40px;
    font-size: 14px;
    color: #2b2b2d;
    text-align: left;
}
.yh-problem div{
	margin-bottom: 25px;
}
.yh-problem div:last-of-type{
	margin-bottom: 0px;
}
.yh-problem div p{
	height: 30px;
	line-height: 30px;
}
.yh-problem div p span{
	margin-right: 10px;
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid #1162a2;
	line-height: 25px;
	text-align: center;
	border-radius: 100%;
	color: #1162a2;
}
.yh-cp-btn{
	position: absolute;
    width: 240px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background: #1162a2;
    color: #fff;
    left: 0;
    border-radius: 20px;
    right: 0;
    bottom: 25px;
    margin: auto;
}
.yh-tn-con{
	padding: 40px;
	background: #fff;
}
.yh-tn-con h3{
	color: #000;
	opacity: 0.4;
	font-size: 14px;
	font-weight: 100
}
.yh-tn-con div{
	text-align: left;
}
.yh-wid872{
	width: 872px;
	margin: auto;
	position: relative;
}
.yh-qr-list{
	padding: 40px;
	margin-top: 25px;
	background: #fff;
}
.yh-qr-item{
	display: block;
	overflow:hidden;
	margin-bottom: 30px;
}
.yh-qr-item img{
	float: left;
	margin-right: 30px;
}
.yh-qr-item:last-of-type{
	margin-bottom: 0
}
.yh-qr-item div{
    float: left;
    position: relative;
    top: 100px;
	font-size: 12px;
	color: #262626;
}
.yh-qr-item .yh-p1{

}
.yh-qr-item .yh-p2{
	margin-bottom: 10px;
	opacity: 0.5;
}
.yh-qr-item .yh-p3{

}
.yh-qr-box{
	overflow: hidden;
	height: 140px;
	margin: 20px auto 60px;
	line-height: 140px;
	font-size: 14px;
	color: #262626;
	background: #fff;
}
.yh-qr-box img{
	float: left;
	margin:28px 20px 0 105px;
}
.yh-qr-box span{
	font-size: 26px;
	color: #1162a2;
	vertical-align: middle;
}
.yh-conwrap.mt0{
	top: 0;
	margin: 40px auto 110px;
}
.yh-i-t{
	overflow:hidden;
	font-size: 18px;
	color: #373839;
}
.yh-i-t img{
	float: left;
	margin-right: 22px;
}
.yh-i-t h3,.yh-i-b h3{
	font-size: 21px;
	color: #1162a2;
	line-height: 52px;
	text-decoration: underline;
	font-weight: 100;
}
.yh-i-b{
}
.yh-i-b .yh-i-b-t{
	position: relative;
	width: 530px;
	margin:20px 0 50px;
}
.yh-i-b-i{
	position: relative;
}
.yh-i-b-i .img2{
    position: absolute;
    left: 350px;
    top: -30px;
}
.sign-in .fl {
    float: left;
}

.sign-in img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.sign-in div {
    color: #303030;
    font-size: 15px;
    margin-left: 10px;
}
.sign-in span{
	height: 24px;
	line-height: 24px;
	display: block;
}
.yh-bt-table{
	width: 1000px;
	margin:35px auto;
	overflow: hidden;

}
.yh-bt-l{
	width: 200px;
	border-top:4px solid #1162a2;

}
.yh-bt-nav{
	background: #fff;
	width: 196px;
	height: 195px;
	margin:auto;
}
.yh-bt-nav li{
	margin: 0 10px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
	color: #000;
	font-size: 14px;
	opacity: 0.5;
}
.yh-bt-nav li.current{
	opacity: 1
}
.yh-bt-nav li i{
	position: relative;
    top: -5px;
    font-size: 35px;
    line-height: 0;
}
.yh-bt-r{
	width: 750px;
	background: #fff;
}
.yh-bt-tn{
	width: 600px;
	height: 34px;
	line-height: 34px;
	border:1px solid #e5e5e5;
	font-size: 14px;
	color: #000;
	letter-spacing: 4px;
	margin: 20px auto;
	padding-left: 35px;
}
.yh-bt-tn a {
    color: #000;
}
.yh-bt-box{
	width: 572px;
	margin: auto;
}
.yh-bt-box h3{
	margin-bottom: 20px;
	font-size: 14px;
	color: #3a3a3a;
}
.yh-bt-b .tip{
	margin-bottom: 15px;
	font-size: 14px;
	color: #b4b4b4;
	text-align: right;
}
.yh-bt-q{
	overflow:hidden;
	margin:0 auto 80px;
}
.yh-bt-q li{
	position: relative;
	float: left;
	width: 169px;
	height: 85px;
	margin-right: 70px;
	background: url(../images/li.jpg) no-repeat;
	color: #b3b5b6;
}
.yh-bt-q li.current{
	background: url(../images/lio.jpg) no-repeat;
	color: #0068b7;
}
.yh-bt-q li.current .span1{
	color: #0068b7;
}
.yh-bt-q li .span1{
    display: block;
    position: absolute;
    top: 7px;
    left: 12px;
    color: #b3b5b6;
    font-weight: 700;
    font-size: 14px;
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
    -ms--transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
    -webkit-text-shadow: #fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
    -ms-text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
    -o-text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
}
.yh-bt-q li p{
	position: absolute;
    text-align: center;
    width: 100%;
    top: 28px;
    font-size: 22px;
}
.yh-bt-q li p i{
	font-size: 26px;
	margin-right: 5px;
}
.yh-bt-b .input{
	text-align: right;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.yh-bt-b .input input{
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #eee;
    padding: 0;
    vertical-align: middle;
    margin-right: 3px;
} 
.yh-bt-b .input img{
	width: 24px;
    vertical-align: middle;
}
.yh-bt-b{
	width: 635px;
	margin: auto;
	text-align: right;
}
.yh-bt-b .pir{
	font-size: 14px;
	color: #3a3a3a;
}
.yh-bt-b .pir span{
	font-size: 26px;
	color: #1162a2;
}
.yh-bt-b .pir i{
	font-size:26px;
}
.yh-bt-b .btn{
	width: 176px;
	height: 36px;
	margin-bottom: 40px;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #1162a2;
}
.yh-bt-t{
	margin:0 30px;
}
.yh-cp-rsv {
    position: relative;
    background: #fff;
    text-align: center;
}
.rsv-con {			
    position: relative;
    text-align: right;
    padding: 10px 40px;
    background: #fff;
}

.rsv-con-fd {
    padding: 20px;
    background: #fff;
}

.rsv-date {
    overflow: hidden;
    margin: 20px 0;
    font-size: 18px;
    color: #a3a3a3;
}

.rsv-date span {
    position: relative;
    top: 8px;
    float: left;
    text-indent: 5px;
}

.rsv-date select {
    position: relative;
    display: block;
    float: left;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: 1px dotted #e5e5e5;
    background: #fff;
    margin: 0 7px;
    font-size: 18px;
    color: #a3a3a3;
}

.rsv-date select:after {
    content: "";
    position: absolute;
    right: 5px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #e5e5e5;
}

.rsv-li-item {
    float: left;
    text-align: center;
    width: 50%;
    height: 44px;
    line-height: 44px;
    background: #eee;
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 18px;
}

.rsv-li-item.current{
	background: #1162a2;
	color: #fff;
}

.rsv-tip {
    margin: 20px 0;
    padding-right: 5px;
    font-size: 13px;
    color: #b4b4b4;
    display: block;
    text-align: right;
}

.rsv-tip span {
    font-size: 18px;
    color: #d83a3a;
    font-weight: bold;
}

.rsv-timeframe {
    display: flex;
}

.rsv-disclaimer {
    margin: 10px 0;
    font-size: 13px;
    color: #0068b7;
    text-decoration: underline;
    text-align: right;
    display: block;
}

.rsv-agree {
    text-align: right;
    margin-bottom: 20px;
    color: #132648;
    font-size: 13px;
    line-height: 1.8;
    font-weight: bold;
}
.bor{
	margin: 20px 0;
	border:1px solid #eee;
}
.rsv-agree input {
    vertical-align: middle;
}
.rsv-btn{
	    width: 176px;
    height: 36px;
    margin-bottom: 40px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #1162a2;
}
.yh-bt-cou{
	margin: 20px 0;
	border:1px solid #eee;
}
.yh-bt-c-list{

}
.yh-bt-c-list li{
	height: 74px;
	padding: 27px 50px;
	overflow:hidden;
	border-bottom: 1px dotted #eee;
}
.yh-bt-c-list .cou{
	width: 352px;
	height: 73px;
	line-height: 72px;
	font-size:28px;
	color: #fff;
	text-indent: 25px;
	background: url(../images/q.jpg);
}
.yh-bt-c-list button{
	position: relative;
	top: 45px;
	width: 58px;
	height: 26px;
	margin-left: 15px;
	text-align: center;
	line-height: 26px;
	color: #fff;
	background: #1162a2;
	border-radius: 2px;
}
.yh-wid950{
    position: relative;
    width: 950px;
    margin: auto;
}
.yh-mc-top{
    overflow:hidden;
    margin: 50px auto 0;
    width: 670px;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 50px;

}
.yh-mc-top img{
    width: 103px;
    height: 103px;
    margin-right: 50px;
    border-radius: 100%;
}
.yh-mc-top p{
    font-size: 20px;
    color: #7f7f7f;
}

.yh-mc-top div{
    overflow:hidden;
    margin-top: 5px;
}
.yh-mc-top div a{
    height: 48px;
    width: 140px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    font-size: 18px;
    display: block;
    float: left;
    margin-right: 30px;
    background: #1162a2;
    border-radius: 12px;
}
.yh-mc-bottom{
    overflow:hidden;
    margin: 50px 0;
}
.yh-mc-bottom a{
    width: 176px;
    height: 221px;
    margin: 0 30px;
    display: block;
    float: left;
}
.yh-mc-bottom .yy{
    background: url(../images/yy.png);
}
.yh-mc-bottom .dd{
    background: url(../images/dd.png);
}
.yh-mc-bottom .hy{
    background: url(../images/hy.png);
}
.yh-mc-bottom .wt{
    background: url(../images/wt.png);
}
.popup {
    position: fixed;
    z-index: 201;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.pop-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 202;
    background: rgba(0,0,0,.5);
    overflow: auto
}

.pop-main {
    position: fixed;
    z-index: 203;
    margin: auto;
    width: 280px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
}
.pop-con {
    position: fixed;
    z-index: 203;
    margin: auto;
    width: 530px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 0 0;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 10px #eee;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
}

.pop-main.notes {
    width: 45%;
    padding: 15px 0;
}


.pop-main.notes p {
    padding: 5px 20px;
    font-size: 14px;
}

.pop-con .title{
    width: 470px;
    height: 52px;
    margin: auto;
    line-height: 52px;
    text-indent: 10px;
    text-align: left;
    font-size: 18px;
    color: #333;
    background: #ededed;
    border-radius: 10px;
}
.pop-con .pop-list{
    margin: 20px;
}
.pop-con .pop-item{
    overflow: hidden;
    width: 470px;
    height: 52px;
    margin: auto;
    line-height: 52px;
    border-bottom: 1px solid #e5e5e5;
}
.pop-con .pop-item span{
    width: 80px;
    text-align:justify;
    display: block;
}
.pop-con .pop-item label{
    margin: 0 10px;
}
.pop-con .pop-item input{
    width: 390px;
    height: 52px;
    line-height: 52px;
}
.pop-con .pop-item input[type="radio"]{
    width: 15px;
}
.pop-con button{
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    color: #fff;
    background: #1162a2;
    text-align: center;
}
.popup .pop-con .close:before, .popup .pop-con .close:after{
	right: 5px;
}

.pop-main input {
    background: #eeeeee;
    width: 65%;
    margin: 0 0 20px 0;
    height: 38px;
    line-height: 38px;
    padding: 0px 5px;
}

.pop-main p {
    padding: 20px 35px;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    text-align: left;
}

.pop-main p.cen {
    text-align: center;
}

.pop-main i {
    text-decoration: underline;
}

.pop-main button:nth-child(2) {
    margin-top: 15px;
}
.popup .close{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
}
.popup .close:before,.popup .close:after{
    position: absolute;
    top: 50%;
	content: "";
	display: block;
	width: 20px;
	height: 1px;
	background: #0068b7;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
.popup .close:after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.confirm-btn {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-family: HiraginoSansGB-W6;
    color: #fff;
    background: #0068b7;
    letter-spacing: 4px;
    text-align: center;
    border-radius: 20px;
    width: 140px;
}
.yh-footer{
	position: relative;
	height: 140px;
	background: #303030;
	width: 100%;
	color: #fff;
	overflow:hidden;
}
.yh-footer .wechat{
	width: 44px;
	height: 37px;
	margin-left: 10px;
	display: inline-block;
	background: url(../images/wechat.png) no-repeat;
	vertical-align: middle;
}
.yh-footer a{
	color: #fff;
}
.footer-box{
	position: relative;
	width: 986px;
	margin: auto;
	overflow:hidden;
}
.yh-f-l{
	float: left;
    width: 80%;
    height: 60px;
    line-height: 30px;
    margin: 40px 0;
}
.yh-f-wrap{
	overflow:hidden;
}
.yh-f-r{
	height: 140px;
	line-height: 140px;
	float: right;
}
.yh-f-www{
	margin-left: -25px;
    height: 30px;
    line-height: 30px;
	overflow:hidden;
	position: relative;
    width: 60%;
    float: left;
}
.yh-f-www li{
    float: left;
    width: 110px;
    /* margin-right: 28px; */
    text-align: center;
    border-right: 1px solid #414141;
    height: 14px;
    line-height: 1;
}
.yh-f-www li:last-of-type{
	border-right: 0;
}
.copyright{
	display: block;
}
.copyright .span2{
	margin: 0 30px 0 100px;
}
.yh-f-sel{
    position: relative;
    float: left;
    width: 102px;
    height: 20px;
    background: #1f2222;
    line-height: 20px;
}
.yh-f-sel i{
	position: absolute;
    top: 5px;
    right: 10px;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid white;
}
.friend-link{
	background: transparent;
	color: #fff
}
.msg-text{
	width: 100%;
    border: #1162a2 solid 1px;
    margin: 20px 0;
    min-height: 200px;
    border-radius: 5px;
    padding: 10px;
}
.msg-btn{
	width: 240px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background: #1162a2;
    color: #fff;
    left: 0;
    border-radius: 20px;
    margin: 20px auto;
    display: block;
}
